<ion-content class="account-details">
  <ion-row class="ion-align-items-center">
    <ion-col size="2">
      <ion-icon name="close" tappable (click)="close()"></ion-icon>
    </ion-col>
    <ion-col size="10" class="ion-text-center">
      <img class="small" src="./assets/logo/google.png" alt="Google logo" />
    </ion-col>
  </ion-row>
  <ion-item>
    <ion-row>
      <ion-avatar slot="start">
        <img
          src="https://miro.medium.com/fit/c/110/110/1*wb8NAQ8o9RnyHzv9uUQdPA.jpeg"
        />
      </ion-avatar>
      <ion-label>
        <h2>Fatima AMZIL</h2>
        <p>famzil.contact@gmail.com</p>
      </ion-label>
      <ion-button color="secondary" fill="outline" size="small" shape="round"
        >Manage your Google Account</ion-button
      >
    </ion-row>
  </ion-item>

  <ion-list>
    <ion-item lines="none">
      <ion-icon slot="start" name="person-add-outline" size="small"></ion-icon>
      <ion-label>Add another account </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="settings" size="small"></ion-icon>
      <ion-label>Manage accouns on this device </ion-label>
    </ion-item>
  </ion-list>
  <ion-label class="ion-text-center">Privacy Policy . Terms of service </ion-label>
</ion-content>

<!-- 
<ion-content>
  <ion-row>
    <ion-col size="2">
      <ion-icon name="close"></ion-icon>
    </ion-col>
    <ion-col size="10">
      <img src="./assets/logo/google.png" alt="Google logo"/>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-chip>
      <ion-avatar>
        <img src="https://miro.medium.com/fit/c/110/110/1*wb8NAQ8o9RnyHzv9uUQdPA.jpeg">
      </ion-avatar>
      <ion-label>Fatima AMZIL</ion-label>
      <p>famzil.contact@gmail.com</p>
    </ion-chip>
  </ion-row>
  <ion-footer>

  </ion-footer>
</ion-content> -->
