<ion-header class="ion-padding">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/mail" text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="presentToast()"
        ><ion-icon ios="archive-outline" md="archive-sharp"></ion-icon
      ></ion-button>
      <ion-button (click)="presentToast()"
        ><ion-icon ios="trash-outline" md="trash-sharp"></ion-icon
      ></ion-button>
      <ion-button (click)="presentToast()"
        ><ion-icon ios="mail-outline" md="mail-sharp"></ion-icon
      ></ion-button>
      <ion-button (click)="presentToast()"
        ><ion-icon
          ios="ellipsis-vertical-outline"
          md="ellipsis-vertical-sharp"
        ></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="selectedEmail !== undefined">
  <ion-row class="ion-align-items-center ion-padding">
    <ion-col size="11">
      <h2 class="ion-text-wrap">
        {{ selectedEmail.title }}
        <ion-chip>
          <ion-label>Inbox</ion-label>
        </ion-chip>
      </h2></ion-col
    >
    <ion-col size="1">
      <ion-icon
        class="ion-text-right"
        [name]="selectedEmail.star ? 'star-sharp' : 'star-outline'"
        [color]="selectedEmail.star ? 'warning' : 'medium'"
        tappable
        (click)="selectedEmail.star = !selectedEmail.star"
      ></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center">
    <ion-col size="1">
      <div class="email-from-avatar" [style.background]="selectedEmail.color" (click)="presentToast()">
        {{ selectedEmail.from | slice:0:1 }}
      </div>
    </ion-col>
    <ion-col size="9">
      <ion-row class="ion-align-items-center ion-padding">
        <h6 class="ion-text-wrap" (click)="presentToast()">
          {{ selectedEmail.from }}
          <p class="date">{{ selectedEmail.date | date:'dd MMM' }}</p>
        </h6>
      </ion-row>
    </ion-col>
    <ion-col size="1" (click)="presentToast()">
      <ion-icon
        ios="return-up-back-outline"
        md="return-up-back-sharp"
      ></ion-icon>
    </ion-col>
    <ion-col size="1" (click)="presentToast()">
      <ion-icon
        ios="ellipsis-vertical-outline"
        md="ellipsis-vertical-sharp"
      ></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row> 
    <ion-text color="dark ion-padding email-content">
      <p>{{ selectedEmail.content }}</p>
    </ion-text>
  </ion-row>
  <ion-row class="ion-justify-content-around ion-margin-top"> 
    <ion-buttons>
        <ion-button color="medium" fill="outline" size="medium" shape="round" (click)="presentToast()" 
          ><ion-icon name="return-up-back"></ion-icon>Reply</ion-button
        >
        <ion-button color="medium" fill="outline" size="medium" shape="round" (click)="presentToast()"
          ><ion-icon name="arrow-back-circle"></ion-icon>Reply all</ion-button
        >
        <ion-button color="medium" fill="outline" size="medium" shape="round" (click)="presentToast()"
          ><ion-icon name="return-up-forward"></ion-icon>Forward</ion-button
        >
    </ion-buttons>
  </ion-row>
</ion-content>
